.widget-dashingpaddles {
	font-family: 'Press Start 2P', cursive;
<<<<<<< HEAD
	background: #4B4B4B;
=======
	//.h2 {
	//	colour: white;
	//}
>>>>>>> aa96ad53c20cdc17e6707e9f7670da9dbf642414
	p {
		padding: 1px;
	}
}
	



